@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html{
    font-family: 'Roboto', sans-serif;
    color: rgb(68, 68, 68);
}
.gmail{
    float: right;
}
.imagenes{
    float: right;
    margin-right: 100px;
}
h3{
    text-align: right;
    margin-right: 10px;
    font-size: 1rem;
    
}
.contenedor-dots{
    width: 2rem;
    text-align: right;
    margin-right: 50px;
    float: right;

   }
.foto{
    width: 2rem;
    border-radius: 1rem; 
    float: right;
}
img{
    width: 100%;
}